.about-title {
    text-align: center;
    font-size: 42px;
    font-weight: 800;
    margin-bottom: 20px;
    color: #000;
    animation: fadeDown 0.6s ease forwards;
}

.about-desc {
    text-align: center;
    max-width: 600px;
    margin: 0 auto 40px auto;
    font-size: 18px;
    color: #444;
    animation: fade 0.8s ease forwards;
}


.team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
    padding: 20px;
}


.member-card {
    background: #000;
    color: #fff;
    padding: 25px;
    border-radius: 16px;
    text-align: center;
    transition: all 0.3s ease;
    transform: translateY(10px);
    animation: fadeUp 0.5s ease forwards;
    box-shadow: 0 0 0 transparent;
}

.member-card:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
}


.member-img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid white;
    margin-bottom: 15px;
    transition: transform 0.3s ease;
}

.member-card:hover .member-img {
    transform: rotate(3deg) scale(1.05);
}


.member-name {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px;
}

.member-role {
    font-size: 16px;
    color: #ccc;
    letter-spacing: 0.5px;
}



@keyframes fadeDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.project-details {
    max-width: 800px;
    margin: 50px auto 0 auto;
    text-align: center;
    font-size: 20px;
    line-height: 1.7;
    color: #333;
    padding: 20px 25px;
    background: #f7f7f751;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    animation: fade 1s ease forwards;
    font-weight: 500;
}