@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.nav{
    width: 100%;
    height: 60px;
    background: #000;
}
.JSV{
    color: white;
    font-weight:bolder;
    font-size: 34px;
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    position: relative;
    left: 20px;
    width: 60px;
    top: 50%;
    transform: translateY(-50%);
}
.router_name{
    color: white;
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    text-decoration: none;


}
.list{
    display: flex;
    gap: 15vw;
    width: 80%;
    position: relative;
    top: -50%;
    transform: translateY(+50%);
    direction: rtl;
    text-align: right;
    left: 10vw;
}
@media (max-width: 560px) {
    .list{
        gap: 7vw;

    }
}